* {
    margin: 0px;
    padding: 0px;
    font-family: serif;
    box-sizing: border-box;

}
body{
    background: #001e4d;
}
.app{
    background:bisque;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;

}
.app h1{
   font-weight: 25px;
   color: rgb(30, 11, 157);
   font-weight: 600px;
   border-bottom: 1px solid #333;
   padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
    
}
.quiz h2{
    font-size: 18px;
    color: orangered;


}